@charset "utf-8";

body {
  font-family: "Lato";
}

a {
  display: inline-block;
}

img {
  vertical-align: top;
}

.font-Raleway {
  font-family: "Raleway";
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}


.header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
}

.header-icon {
  color: #4e4e4e;
  float: left;
}

.header-btn {
  background: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  float: right;
  transition:ã€€color .3s;
}



.sp-btn {
  display: none;

}

.header-btn:hover {
  color: #333;
}

.container {
  padding-top: 70px;
}
.title {
  background: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

.title-theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title-subtitle {
  font-size: 30px;
  color: #c0c0c0;
}

.wwcd {
  background: #74cfae;
}
.wwcd-inner {
  padding-top: 50px;
}
.wwcd-image-container {
  float: left;
  width: 400px;
  text-align: center;
}

.wwcd-text-container {
  float: right;
  width: 700px;
  text-align: center;
  line-height: 35px;
}

.wwcd-theme {
  color: white;
  font-size: 24px;
  margin-bottom: 35px;
}

.wwcd-subtitle {
  color: white;
  font-size: 20px;
  word-break: break-all;
}

.olw {
  background: #f2f2f2;
}

.olw-inner {
  padding: 90px 0;
}

.olw-theme {
  margin-bottom: 40px;

}
.olw-theme-text {
  font-size: 24px;
  text-align: center;
}

.olw-images {
  font-size: 0;
}

.olw-img-box {
  margin-left: 100px;
  opacity: 0.7;
  transition: opacity .3s;
}

.olw-img-box:hover {
  opacity: 1;
}

.olw-img-box:nth-child(3n+1) {
  margin-left: 0;
}

.olw-img-box:nth-child(n+4) {
  margin-top: 80px;
}


.olw-messages {
  margin-top: 90px;
  text-align: center;
}

.olw-text {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.olw-btn {
  background: #74cfae;
  color: white;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: color .3s;
}

.olw-btn:hover {
  color: #333;
}

.os {
  background: #4e4e4e;
}

.os-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.os-theme {
  color: white;
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
}

.os-images {
  font-size: 0;
  text-align: center;
}
.os-img-container {
  margin-left: 180px; 
  display: inline-block;
}

.os-img-container:first-child {
  margin-left: 0;
}

.os-img-text {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.sns {
  background: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
  margin: 0 auto;
}

.sns-link-container {
font-size: 0;
text-align: center;
}

.sns-link {
  color: #74cfae;
  display: inline-block;
  width: 185px; 
  text-align: center;
  padding: 20px 0;
  transition: background-color .3s;
}

.sns-link:hover {
  background: white;
}

.fab, .fas {
  font-size: 40px;
}

.footer {
  background: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  color: white;
  text-align: right;
}

      
@media screen and (max-width:1199px) {

  .inner {
    width: 97%;
  }
  
  .wwcd-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .wwcd-image-container {
    float: none;
    margin: 0 auto;
  }

  .wwcd-text-container {
    float: none;
    margin: 0 auto;
    margin-top: 25px;
    width: auto;
  }

  .olw-inner {
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
  }
  
  .olw-img-box {
    margin: 0 auto;
    max-width: 300px;
    display: block;
  }

  .olw-img-box:nth-child(3n+1) {
    margin-left: auto;
}
  
  .olw-img-box:nth-child(4){
    margin-top: 80px;
  }

  .olw-img-box:nth-child(n+5){
    margin-top: 0;
  }
  .olw-messages {
    margin-top: 80px;
    text-align: center;
  }
  
  .olw-text {
    display: block;
    margin: 0 auto;
  }
  
  .olw-btn {
    margin-left: 0;
    margin-top: 40px;
  }

  .os-img-container {
    margin-left: 0; 
    display: block;
    margin-top: 88px;
  }

  .os-img-container:first-child {
    margin-top: 0;
  }

  .sns-link{
    width: 25%;
  }

@media screen and (max-width:767px) {
  .inner {
    width: 97%;
  }
  
  .header-btn {
    display: none;
  }
  .sp-bar-btn {
    font-size: 16px;
  }
  .sp-btn {
    color: #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    display: block;
  }

  .title-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  
  .title-theme {
    font-size: 80px;
  }

  .title-subtitle {
    font-size: 30px; 
  }

  .wwcd-image-container {
    width: 97%;
  }
  
  .wwcd-text-container {
    width: 97%;
  }

  .olw-text {
    width: 97%;
  }

  .sns-link {
    width: 100%; 
  }

  .sns-inner {
    padding: 50px 0;
  }
}
}